@page
@model About
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <!-- Team Statement -->
    <h3>About Us!</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in orci vitae lorem luctus rutrum sed id velit. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Nam id mauris in turpis ultricies iaculis. Pellentesque auctor pellentesque sem, id feugiat dolor hendrerit
        non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sed augue bibendum, pretium nisl
        id, semper ante. Quisque sit amet feugiat lectus, sit amet lobortis dui. Donec et placerat urna. Vestibulum libero lectus, mattis ut quam
        nec, faucibus tincidunt metus. Quisque a ligula placerat, congue magna id, malesuada nisl. Donec non facilisis justo, eu vehicula nibh. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque tellus justo, aliquam eget lacus in, fermentum
        aliquet mi. Sed at commodo felis, eget porttitor libero. Fusce pharetra laoreet tellus, aliquet accumsan nisi vestibulum eget.
    </p>

    <!-- Profile Images -->
   <h3>Our Team!</h3>
   <div class="image-container">
    <img src="https://images1.penguinrandomhouse.com/author/22627" alt="Example Image" />
    <img src="https://sportshub.cbsistatic.com/i/2022/10/28/79b6daa7-c2bf-46c6-8608-f7743521c30d/one-piece-stampede-nami.jpg" alt="Example Image" />
    <img src="https://i.insider.com/5d2f3723bda95f1b217aab42?width=700" alt="Example Image" />
    </div>

    <!-- Company Statement -->
    <h3>Company Objective</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in orci vitae lorem luctus rutrum sed id velit. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Nam id mauris in turpis ultricies iaculis. Pellentesque auctor pellentesque sem, id feugiat dolor hendrerit
        non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sed augue bibendum, pretium nisl
        id, semper ante. Quisque sit amet feugiat lectus, sit amet lobortis dui. Donec et placerat urna. Vestibulum libero lectus, mattis ut quam
        nec, faucibus tincidunt metus. Quisque a ligula placerat, congue magna id, malesuada nisl. Donec non facilisis justo, eu vehicula nibh. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque tellus justo, aliquam eget lacus in, fermentum
        aliquet mi. Sed at commodo felis, eget porttitor libero. Fusce pharetra laoreet tellus, aliquet accumsan nisi vestibulum eget.
    </p>
    
    <!-- History Satement -->
    <h3>Our History</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in orci vitae lorem luctus rutrum sed id velit. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Nam id mauris in turpis ultricies iaculis. Pellentesque auctor pellentesque sem, id feugiat dolor hendrerit
        non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sed augue bibendum, pretium nisl
        id, semper ante. Quisque sit amet feugiat lectus, sit amet lobortis dui. Donec et placerat urna. Vestibulum libero lectus, mattis ut quam
        nec, faucibus tincidunt metus. Quisque a ligula placerat, congue magna id, malesuada nisl. Donec non facilisis justo, eu vehicula nibh. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque tellus justo, aliquam eget lacus in, fermentum
        aliquet mi. Sed at commodo felis, eget porttitor libero. Fusce pharetra laoreet tellus, aliquet accumsan nisi vestibulum eget.
    </p>

</div>

<style>
    .container {
        width: 690px;
    }

    .image-container {
        text-align: center;
    }

        .image-container img {
            width: 190px;
            height: 254px;
            border-radius: 50px;
            background: #e0e0e0;
            box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
            padding: 0.5em;
            margin: 0 10px; /* Add margin to create space between images */
        }

    h3{
        text-align:center;
        padding:0.5em;
    }
</style>