@page
@model About
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <!-- Team Statement -->
    <h3>About Us!</h3>
    <p>
        <strong>Welcome to Reader's Corner!</strong> Our digital library is a cozy nook for book enthusiasts and magazine lovers alike, offering a vast and diverse collection at your fingertips. Dive into our user-friendly platform where timeless classics, modern bestsellers, and engaging magazines await to spark your imagination. Join our community of readers, share insights, and discover your next favorite read. At Reader's Corner, every page turns into a new adventure – come explore with us!
    </p>


    <!-- Profile Images -->
    <div class="image-container">
        <a href="https://social.media/link1" class="profile">
            <img src="https://images1.penguinrandomhouse.com/author/22627" alt="Richard Ochei" />
            <p><strong>Richard Ochei</strong><br>Student Developer<br>Crawley</p>
        </a>
        <a href="https://social.media/link2" class="profile">
            <img src="https://sportshub.cbsistatic.com/i/2022/10/28/79b6daa7-c2bf-46c6-8608-f7743521c30d/one-piece-stampede-nami.jpg" alt="Nicole Bebb" />
            <p><strong>Nicole Bebb</strong><br>Student Developer<br>High Wycombe</p>
        </a>
        <a href="https://social.media/link3" class="profile">
            <img src="https://i.insider.com/5d2f3723bda95f1b217aab42?width=700" alt="Mustafa" />
            <p><strong>Mustafa</strong><br>Student Developer<br>High Wycombe</p>
        </a>
    </div>



    <!-- Interal CSS 'About Us Page'  -->
    <style>
        .container {
            width: 690px;
        }

        .image-container {
            text-align: center;
            margin-top: 60px;
        }

        .profile {
            display: inline-block;
            margin: 0 10px;
            text-align: center;
        }

            .profile img {
                width: 190px;
                height: 254px;
                border-radius: 10px;
                background: #e0e0e0;
                box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
                padding: 0.2em;
                transition: box-shadow 0.3s, transform 0.3s; /* Smooth transition for hover effect */
            }

            .profile p {
                margin-top: 10px;
                font-size: 14px;
                line-height: 1.4;
            }

            .profile img:hover {
                box-shadow: 0 0 15px #007bff; /* Blue shadow on hover */
                transform: scale(1.05); /* Slightly enlarge image on hover */
                cursor: pointer;
            }

        h3 {
            text-align: center;
            padding: 0.5em;
            font-size: 50px;
            height: 90px;
        }
    </style>
