html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#carouselExampleControls {
    max-width: 100%;
    max-height: 500px;
    margin: auto;
}

.carousel-inner {
    max-height: 500px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    max-height: 500px;
}


/* Nav-Bar CSS Below */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values based on your preference */
    opacity: 0.95;
    position: sticky;
    top: 0; /* This ensures the navbar sticks to the top of the page */
    display: flex;
}


/* Additional styling for your navigation bar */
.navbar-expand-sm {
    /* Add your additional styles here */
    /* For example: padding, background color, text color, etc. */
}

/* You may also want to style the toggle button if you have one */
.navbar-toggleable-sm {
    /* Add your styles for the toggle button here */
}

/* Style for the background and border */
.bg-white {
    background-color: #fff; /* Adjust the background color based on your design */
}

.border-bottom {
    border-bottom: 1px solid #ddd; /* Adjust the border color based on your design */
}

