/* Page Layout */
#carouselExampleControls {
    max-width: 100%;
    max-height: 900px; /* Adjusted to match carousel inner */
    margin: auto;
}

/* Carousel Styles */
.carousel-inner {
    max-height: 900px;
}

.carousel-item img {
    width: 100%;
    height: 900px; /* Adjusted to always be 900px tall */
    object-fit: fill;
}

.carousel-control-prev,
.carousel-control-next {
    max-height: 900px; /* Adjusted to match carousel item height */
}

/* Ensure the carousel stretches to full width */
#imageCarousel {
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

    #imageCarousel .carousel-item img {
        width: 100%;
        height: 900px; /* Adjusted to always be 900px tall */
    }


/* Navbar Styles */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #EAEAEA;
}

.navbar-expand-sm {
    /* Add your additional navbar styles here */
}

.navbar-toggleable-sm {
    /* Styles for the toggle button */
}

/* Background and Border Styles */
.bg-white {
    background-color: #fff;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

/* Additional Layout Adjustments */
body, html {
    margin: 0;
    padding: 0;
}

.container, .container-fluid, .row, .col {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

/* Additional Styles */
/* Add any additional CSS styles here */

body {
    background-color: #F9F5F6;
    color: #040D12;
}
